.product-img {
    width: 300px;
    height: 300px;
    background: white;
}

.product-img:hover {
    transition: transform .3s;
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); 
}

.large-image {
    width: 450px;
    height: 450px;
    background: white;
}

.cover-img {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.text {
    background-color: whitesmoke;
    color: black;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
}

.text p {
    font-size: 15px;
}

.text div {
    padding: 5px;
    margin-bottom: 5px;
}

.product-title {
    font-weight: 600;
    font-size: 20px;
}

.button-padding {
    padding: 2%;
}

@media (max-width: 991.90px) { 

    .transparent-box {
        display: inline-block;
        width: 50%; 
        background-color: whitesmoke;
        text-align: center;
        border: 2px solid black;
        opacity: 0.5;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3em;
        color:#7D004C;
        font-weight: 500;
        text-shadow: 1.6px 1.6px black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    }

}

@media (min-width: 992px) { 

    .transparent-box {
        display: inline-block;
        width: 50%; 
        background-color: whitesmoke;
        text-align: center;
        border: 2px solid black;
        opacity: 0.65;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10em;
        color:#7D004C;
        font-weight: 500 bold;
        text-shadow: 3px 3px black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    }

}